.Header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

  .image {
    width: 512px;
  }

 .Header__text {
    h1 {
      font-size: 5em;
      color: #4CC9F0;
    }

   h3 {
      font-size: 2em;
   }
 }
}